

body {
    padding:0;
    background: #fff;
    font-family: "Apple Braille", Tahoma, sans-serif;
    background-size: 300px auto;
}

/* Example page grid */
.pageGrid {
    padding:20px 12px;
    display: grid;
    grid-template-areas: "productPhoto productInfo";
    grid-template-columns: minmax(300px, 1fr) 4fr;
}

.pageGrid .productPhoto {
    grid-area: productPhoto;
}

.pageGrid .productInfo {
    grid-area: productInfo;
}
/* end example page grid */

/* Loader */
.loader {
    width: 32px;
    height: 32px;
    margin: 10px 0;
}

.viewerGrid {
    padding: 0 12px;
    display: grid;
    grid-template-areas: "main" "strip";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.viewerGrid .mainImage {
    grid-area: main;
    display: grid;
    grid-template-areas: "img" "name";
    grid-template-rows: var(--main-image-height) auto;
}

.viewerGrid .mainImage .dst {
    text-align: center;
}

.viewerGrid .mainImage .dst img {
    max-height: 100%;
}

.viewerGrid .mainImage .imageName {
    text-align: center;
    font-size: 0.9em;
    opacity: 0.7;
    padding:6px 0;
}

.viewerGrid .thumbnails {
    grid-area: strip;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.viewerGrid .thumbnails a {
    margin:0 var(--thumb-image-right-margin) var(--thumb-image-bottom-margin) 0;
    padding:0;
    line-height: 0.5em;
    border-radius: 4px;
    max-width:var(--thumb-image-width);
    border:2px solid transparent;
    display: inline-block;
}

.viewerGrid .thumbnails a.selected {
    border-color:darkgoldenrod;
}

.viewerGrid .thumbnails a:hover, .viewerGrid .thumbnails a.selected:hover {
    border-color:goldenrod;
}

.viewerGrid .thumbnails a.selected {
    border-color: #a97f0e;
}

.viewerGrid .thumbnails a > img {
    height:var(--thumb-image-height);
    width:auto;
    border-radius: 4px;
}
