/*!******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./css/style.css ***!
  \******************************************************************/
body {
    padding:0;
    background: #f1f1f1;
    font-family: "Apple Braille", Tahoma, sans-serif;
}
