body {
    padding:0;
    background: #f1f1f1;
    font-family: "Apple Braille", Tahoma, sans-serif;
    background-size: 300px auto;
}

.galleryRow {
    padding: 20px 12px;
    display: flex;
}

.galleryRow .item {
    margin:0 8px;
}